<% content_for(:title, t('.title')) %>
<div class="flex justify-center justify-center min-h-screen bg-gray-100 p-5">
  <div class="max-w-4xl w-full py-8 px-6 bg-white rounded-lg shadow-lg">
    <%= render 'static_pages/privacy_form' %>
  </div>
</div>
