<% content_for(:title, t('.title')) %>
<div class="flex justify-center items-center min-h-screen bg-gray-100 p-5">
  <div class="max-w-4xl w-full py-8 px-6 bg-white rounded-lg shadow-lg">
    <h1 class="text-4xl font-bold mb-6 text-center">プライバシーポリシー</h1>
    <div class="text-lg leading-7 text-gray-800">
      <p>WaveConGra（以下、「当方」といいます。）は、本ウェブサイト上で提供するサービス（以下、「本サービス」といいます。）における、ユーザーの個人情報の取扱いについて、以下のとおりプライバシーポリシーを定めます。</p>
      <h2 class="mt-6 mb-4 font-semibold">お客様から取得する情報</h2>
      <ul class="list-disc list-inside">
        <li>氏名（ニックネームやペンネームも含む）</li>
        <li>メールアドレス</li>
        <li>音声や写真</li>
        <li>外部サービスでお客様が利用するIDとそのプライバシー設定により開示を認めた情報</li>
        <li>Cookieを用いた識別情報</li>
        <li>OSが生成するID、端末の種類、端末識別子等</li>
        <li>当方ウェブサイトの利用履歴や行動履歴</li>
      </ul>
      <h2 class="mt-6 mb-4 font-semibold">お客様の情報を利用する目的</h2>
      <ul class="list-disc list-inside">
        <li>当方サービスの登録受付、認証のため</li>
        <li>サービス利用履歴の管理</li>
        <li>行動履歴の分析とサービス改善</li>
        <li>サービスに関する案内の送信</li>
        <li>お問い合わせへの対応</li>
        <li>規約や法令違反の対応</li>
      </ul>
      <h2 class="mt-6 mb-4 font-semibold">安全管理のための措置</h2>
      <p>お客様の情報の安全管理のために講じた措置については、お問い合わせ先までご連絡ください。</p>
      <h2 class="mt-6 mb-4 font-semibold">第三者提供</h2>
      <p>お客様から取得する情報は、お客様の同意なしに第三者に提供いたしません。ただし、特定の条件下での提供は除きます。</p>
      <h2 class="mt-6 mb-4 font-semibold">アクセス解析ツール</h2>
      <p>当方はGoogleアナリティクスを利用しており、Cookieを通じてトラフィックデータを匿名で収集しています。</p>
      <p class="mt-6 mb-8">詳細は<a href="https://marketingplatform.google.com/about/analytics/terms/jp/" class="text-blue-500 hover:text-blue-600">こちら</a>をご確認ください。</p>
      <div class='text-center text-base mb-6 text-gray-600'>
        <%= link_to 'トップページへ', root_path, class: "text-blue-500 hover:text-blue-600 text-lg" %>
      </div>
    </div>
  </div>
</div>
