<div class="hero min-h-custom-screen bg-base-200 flex items-center bg-cover bg-center" style="background-image: url(<%= asset_path('wave.webp') %>)">
  <div class="hero-content text-center w-full bg-opacity-50 bg-blue-200 p-8 rounded">
    <div class="max-w-xl mx-auto">
      <h1 class="text-4xl sm:text-5xl font-bold">声でつながる、<br>前向きなエネルギー</h1>
      <p class="py-6 text-md sm:text-2xl">音声メッセージで自己肯定感を高め、<br>ポジティブなエネルギーを共有しましょう。</p>
      <%= link_to '新規登録して今すぐ始める',
                  new_signup_modal_path,
                  class: 'text-lg sm:text-2xl btn btn-outline btn-accent flex rounded-full transition-colors duration-300 px-4 py-2',
                  data: { turbo_frame: "signup_modal" } %>
      <br>
      <a href="#next-section" class="btn btn-outline btn-primary mt-6">Next Section</a>
    </div>
  </div>
</div>

<div class="container mx-auto py-12" id="next-section">
  <section class="mb-12">
    <h2 class="text-3xl font-bold mb-4">サービス概要</h2>
    <p>本アプリは、音声メッセージを通じて自己肯定感を高め、相互にポジティブなエネルギーを共有することができるプラットフォームです。</p>
  </section>
  <section class="mb-12">
    <h2 class="text-3xl font-bold mb-4">サービスへの思い</h2>
    <p>以前、体調を崩し退職した後、約一年間鬱に近い状態で苦しんだ経験が、自己肯定感の重要性を深く認識させました。この経験は、自分自身への感謝がどれほど大切かを痛感しました。また、周りからの応援も私の力になった経験から、同じようなサポートを他の人にも提供したいと思い、このアプリを開発したいと考えています。</p>
  </section>
  <section class="mb-12">
    <h2 class="text-3xl font-bold mb-4">対象ユーザー</h2>
    <p>本アプリは、自己肯定感を高めたい人々、ポジティブな変化を求める人々を対象としています。自己改善に意欲的な個人や、コミュニティのサポートを求める人々にとって、有用なツールです。</p>
  </section>
  <section>
    <h2 class="text-3xl font-bold mb-4">特別な機能</h2>
    <ul class="list-disc pl-5">
      <li>音声による投稿</li>
      <li>自分のプロフィールで投稿のカテゴライズ</li>
      <li>いいねし合う仕組み</li>
    </ul>
  </section>
</div>

<style>
  .min-h-custom-screen {
    min-height: calc(100vh - var(--header-height));
  }
  .header {
    --header-height: 4rem; /* デフォルトの高さ */
  }
  .hero {
    background-size: cover;
    background-position: center;
  }
  .hero-content {
    background-color: rgba(255, 255, 255, 0.5); /* 背景画像が見えるように半透明の背景を追加 */
    padding: 2rem;
    border-radius: 1rem;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    function adjustHeroHeight() {
      const header = document.querySelector('.navbar');
      const hero = document.querySelector('.hero');
      if (header && hero) {
        hero.style.minHeight = `calc(100vh - ${header.offsetHeight}px)`;
      }
    }

    adjustHeroHeight();
    window.addEventListener('resize', adjustHeroHeight);
  });
</script>
