<% if @user.present? %>
  <%= turbo_frame_tag "profile_show" do %>
    <%= render partial: 'profiles/show', locals: { user: @user, posts: @posts, notifications: @notifications , pagy: @pagy } %>
  <% end %>
<% else %>
  <p>ユーザーが見つかりません。</p>
<% end %>
