<div class="flex flex-col items-center justify-between flex-shrink-0 relative mr-[8px] z-0">
  <!-- アバター -->
  <%= link_to profile_show_path(username_slug: post.user.username_slug), data: { turbo_frame: "_top", turbo_action: :advance } do %>
    <%= image_tag(post.user.avatar.presence || '/logo-watune-en.png', alt: "プロフィール画像", class: "class=z-0 rounded-full h-[40px] w-[40px]") %>
  <% end %>

  <div id="post-<%= post.id %>-reply-line">
    <% if post.replies.any? && @show_reply_line %>
      <div class="absolute left-1/2 transform -translate-x-1/2 top-[calc(3rem)] md:top-[calc(3rem)] bottom-0 w-0.5 bg-blue-500"></div>
    <% end %>
  </div>
</div>
