<!-- 投稿内容 -->
<div class="mb-2 cursor-pointer text-[15px] overflow-y-auto max-h-[calc(1.5rem*10)] md:max-h-[calc(1.5rem*15)] whitespace-normal break-words break-all"
      data-audio-id="<%= post.audio.attached? ? post.id : "no-audio-#{post.id}" %>">
  <% post.body.split(/\r\n|\r|\n/).each do |line| %>
    <% if line.empty? %>
      <div class="text-xxs">
        <br>
      </div>
    <% else %>
      <div class="text-base">
        <%= format_text_with_links(line) %><br>
      </div>
    <% end %>
  <% end %>
</div>
