<div>
  <% if post.open? %>
    <%= link_to x_share_post_url(post), target: "_blank" do %>
      <i class="fa-brands fa-x-twitter text-lg text-black-500 hover:text-black-700"></i>
    <% end %>
  <% else %>
    <%= link_to x_share_root_url, target: "_blank" do %>
      <i class="fa-brands fa-x-twitter text-lg text-black-500 hover:text-black-700"></i>
    <% end %>
  <% end %>
</div>
