<h1 class="text-center font-bold text-xl"><%= @user.display_name %></h1>
<p class="text-center text-sm">@<%= @user.username_slug %></p>
<p class="text-center text-lg">フォロー中</p>
<%= render 'users/users', users: @followings %>
