<turbo-frame id="main-content">
<% content_for(:title, t('.title')) %>
  <div class="flex justify-center min-h-screen">
    <div class="max-w-[670px] w-full bg-white border border-gray-200">
      <div class="sticky top-0 z-10 mt-2 flex flex mx-auto justify-between bg-white px-[16px] h-[30px] sm:h-[53px] border-b">
        <!-- 戻るボタン -->
        <%= render 'shared/back_button' %>
        <div class="flex justify-center items-center flex-grow">
          <h1 class="text-[17px] sm:text-xl text-center font-bold">未フォローのユーザー</h1>
        </div>
        <div class="invisible w-[56px] h-[30px] sm:h-[53px]">ダミー</div>
      </div>
      <% if users.present? %>
        <%= turbo_frame_tag "next-page" do %>
          <div>
            <% users.each do |user| %>
              <%= render partial: 'users/user', locals: { user: user, location: :widget } %>
            <% end %>
          </div>
          <% if pagy.next %>
            <%= render 'shared/next_page', pagy: pagy %>
          <% end %>
        <% end %>
      <% else %>
        <div class="mb-3 text-center">全てのユーザーをフォローしました！</div>
      <% end %>
    </div>
  </div>
</turbo-frame>
