<!-- 戻るボタン -->
<div class="flex items-center w-[56px] h-[53px]">
  <button id="back-button" class="rounded-full w-[34px] h-[34px] text-center hover:bg-sky-100" onclick="window.history.back()">
    <i class="fas fa-arrow-left w-[20px] h-[20px]"></i>
  </button>
</div>
