<% flash.each do |message_type, message| %>
  <div class="p-2 mx-2">
    <div class="<%= flash_class(message_type) %> my-2 rounded-lg text-lg" role="alert">
      <span><%= message %></span>
    </div>
  </div>
<% end %>
