<footer class="bg-gray-100 text-center p-4 mt-8">
  <div class="flex justify-center items-center text-xs mb-2">
    <%= link_to '利用規約', terms_of_use_path, class: "mx-2 sm:mx-4 hover:text-blue-500" %>
    <%= link_to 'プライバシーポリシー', privacy_policy_path, class: "mx-2 sm:mx-4 hover:text-blue-500" %>
    <%= link_to 'お問合せ', '#', class: "mx-2 sm:mx-4 hover:text-blue-500" %>
  </div>
  <p class="text-gray-600">© 2024 ConGraWa</p>
</footer>
