<!-- モーダルを開くリンク -->
<li class="block md:hidden">
  <%= link_to t('header.register'), new_modal_user_registration_path, class: 'hover:bg-cyan-600 hover:text-white', data: { turbo_frame: "register_modal" } %>
</li>
