<aside class="bg-gradient-to-br from-blue-500 to-blue-900 p-5 w-64 hidden md:block sticky top-0 h-screen overflow-y-auto">
  <div class="flex flex-col items-center mb-10 pt-2">
    <%= image_tag (current_user.avatar.presence || 'sample.jpg'), class: 'rounded-full h-24 w-24' %>
    <h2 class="mt-4 text-xl font-semibold text-white">Username</h2>
  </div>
  <ul class="px-2 space-y-2">
    <!-- ホーム -->
    <li>
      <%= link_to '#', class: "sidebarOption flex items-center space-x-4 p-3 hover:bg-blue-200 rounded-full transition-colors duration-300 bg-blue-100" do %>
        <i class="fas fa-home text-2xl"></i>
        <h2 class="text-lg font-bold flex-grow">ホーム</h2>
      <% end %>
    </li>
    <!-- 話題を検索 -->
    <li>
      <%= link_to '#', class: "sidebarOption flex items-center space-x-4 p-3 hover:bg-blue-200 rounded-full transition-colors duration-300" do %>
        <i class="fas fa-search text-2xl"></i>
        <h2 class="text-lg font-bold flex-grow">話題を検索</h2>
      <% end %>
    </li>
    <!-- プロフィール -->
    <li>
      <%= link_to profile_show_path(current_user.username_slug), class: "sidebarOption flex items-center space-x-4 p-3 hover:bg-blue-200 rounded-full transition-colors duration-300" do %>
        <i class="fas fa-user text-2xl"></i>
        <h2 class="text-lg font-bold flex-grow">プロフィール</h2>
      <% end %>
    </li>
    <!-- 他のリンクも同様に追加 -->
  </ul>
  <div class="mt-auto">
    <button class="w-full bg-twitter text-white font-bold py-3 px-4 rounded-full transition-colors duration-300 hover:bg-twitter-dark">
      ツイートする
    </button>
  </div>
</aside>
