<aside id="after-sidebar" class="p-5 w-[260px] hidden md:block sticky top-[74px] h-[calc(100vh-74px)] overflow-y-auto">
  <div class="flex flex-col items-center mb-10 pt-2">
    <%= link_to profile_show_path(current_user.username_slug), data: { turbo_frame: "_top" } do %>
      <%= image_tag (current_user.avatar.presence || asset_path('logo-watune-en.png')), class: 'rounded-full h-32 w-32' %>
    <% end %>
  </div>
  <%= render 'shared/sidelink' %>
  <div class="mt-auto py-5">
    <%= link_to t('header.post_audio'),
                  new_post_path,
                  class: "flex text-white font-bold text-2xl btn btn-info rounded-full transition-colors duration-300 bg-opacity-80",
                  data: { turbo_frame: "post_modal" } %>
  </div>
</aside>
