<div class="w-[350px] p-4 hidden lg:block overflow-y-auto">
  <div id="new-user-widget" class="<%= hide_widget_on_users_index %>">
    <h2 class="text-lg">新規ユーザー</h2>
    <div id="widget-users-list">
      <%= render partial: 'users/user', collection: users, as: :user %>
    </div>
    <div id="widget-load-more" class="mt-4 text-center">
      <% if defined?(pagy) && pagy.present? %>
        <% if pagy.next %>
          <%= link_to 'さらに表示', users_path, data: { turbo_frame: "_top" }, class: "btn-load-more" %>
        <% else %>
          <p>次のページはありません</p>
        <% end %>
      <% else %>
        <p>Pagyオブジェクトが設定されていません</p>
      <% end %>
    </div>
  </div>
</div>
