<div class="p-5 hidden lg:block sticky top-[74px] h-[calc(100vh-74px)] overflow-y-auto">
  <div class=" hidden widgets--input flex flex-col items-center bg-gray-300 p-3 rounded-full">
    <h2 class="text-xl font-bold mb-4"></h2>
  </div>
</div>
