<div class="w-[350px] hidden lg:block overflow-y-auto">
  <div id="new-user-widget" class="<%= hide_widget_on_users_index %> border-2 rounded-lg my-4 shadow-lg">
    <h2 class="text-xl text-center font-bold pt-2 mb-4">未フォローのユーザー</h2>
    <div id="widget-users-list">
      <%= render partial: 'users/user', collection: users, as: :user %>
    </div>
    <div id="widget-load-more" class="mt-4 text-center">
      <%= link_to 'さらに表示', users_path, data: { turbo_frame: "_top" }, class: "btn-load-more" %>
    </div>
  </div>

  <!-- PC画面での投稿ボタン -->
  <div class="fixed pl-[100px] bottom-24">
    <%= link_to new_post_path(privacy: 'open'), id: "post-button", class: "z-50 text-5xl w-[150px] h-[150px] rounded-full bg-sky-400 flex items-center justify-center text-white shadow-lg", data: { turbo_frame: "post_modal" } do %>
      <i class="fa-solid fa-gift text-6xl"></i>
    <% end %>
  </div>
</div>
