<%= turbo_stream.replace "user-#{@user.id}-follow" do %>
  <%= render partial: 'users/follow_button', locals: { user: @user } %>
<% end %>

<%= turbo_stream.replace "send-message" do %>
  <div id="send-message"></div>
<% end %>
