<!-- app/views/posts/show.html.erb -->
<div class="container pt-3">
  <div class="px-2 mx-auto">
    <div class="grid grid-cols-1 gap-4">
      <%= render partial: 'posts/post_content', locals: { post: @post, full_view: true } %>
      
      <!-- 返信フォーム -->
      <%= render 'replies/form', post: @post, reply: @reply %>

      <!-- 返信リスト -->
      <div id="replies_for_post_<%= @post.id %>" class="mt-4">
        <%= render @replies %>
      </div>
    </div>
  </div>
</div>
