<%= turbo_frame_tag "post_modal" do %>
  <dialog id="post_modal_daialog" class="modal bg-gray-500 bg-opacity-50" data-controller="post-modal">
    <div class="modal-box">
      <div class="flex justify-end items-center">
        <i class="fa-solid fa-xmark h-6 w-6  hover:text-blue-500" data-action="click->post-modal#closeModal"></i>
      </div>
      <%= render 'shared/post_form' %>
      <div class="modal-action">
        <button class="btn" data-action="post-modal#closeModal">閉じる</button>
      </div>
    </div>
  </dialog>
<% end %>
