<%= turbo_frame_tag "post_modal" do %>
  <dialog id="post_modal_dialog" class="modal bg-gray-500 bg-opacity-50" data-controller="audio-modal">
    <div class="modal-box">
      <div class="flex justify-end items-center">
        <!-- 'post-modal' コントローラーで管理するモーダルの閉じるボタン -->
        <i class="fa-solid fa-xmark h-6 w-6 hover:text-blue-500" data-action="click->audio-modal#closeModal"></i>
      </div>
      <!-- 録音コントロール -->
      <section class="my-4">
        <canvas class="visualizer w-full h-24 bg-black"></canvas>
      </section>

      <div class="flex space-x-4">
        <button class="record bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" data-action="click->audio-modal#startRecording">
          録音
        </button>
        <button class="stop bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded disabled:opacity-50" data-action="click->audio-modal#stopRecording" disabled>
          ストップ
        </button>
      </div>

      <section class="sound-clips mt-4 overflow-auto max-h-48">
        <!-- Dynamically added clips will appear here -->
      </section>

      <!-- モーダルを閉じるボタン -->
      <div class="modal-action">
        <button class="btn" data-action="click->audio-modal#closeModal">閉じる</button>
      </div>
    </div>
  </dialog>
<% end %>
