@tailwind base;
@tailwind components;
@tailwind utilities;

/* カスタムスタイル */
.input-style {
  @apply block mt-1 p-2 text-base sm:text-lg border-2 border-gray-300 rounded-lg focus:outline-none focus:ring focus:border-sky-400 resize-y;
}

/* プロフィールのタブのレイアウト */
/* タブの基本スタイル */
.c-tabs {
  @apply text-center align-middle py-2;
}

.c-tab {
  @apply flex-1 px-4 py-2 text-center text-lg border-b-2 border-gray-300 hover:bg-sky-100 hover:border-b-4 hover:border-sky-400;
}

.c-tab span {
  @apply text-gray-600;
}

.c-tab-active {
  @apply border-b-4 border-sky-400 font-semibold;
}

.c-tab-active span {
  @apply text-black;
}

/* アクティブ状態のアイコンとテキストの色 */
.c-tab-active-all-my-posts,
.c-tab-active-only-me,
.c-tab-active-my-posts-open {
  @apply text-blue-500;
}

.c-tab-active-all-likes-chance,
.c-tab-active-my-likes-chance,
.c-tab-active-public-likes-chance {
  @apply text-pink-400-accent;
}

.c-tab-active-bookmarked {
  @apply text-yellow-700-accent;
}

.c-tab-active-liked {
  @apply text-red-500;
}

/* 投稿のプライバシー選択のボタンのレイアウト */
.c-button {
  @apply inline-block px-4 py-2 text-xl text-sky-400 bg-sky-100 cursor-pointer font-semibold rounded-full;
}

.c-bottom-active {
  @apply bg-sky-400 text-white;
}

.c-button:hover {
  @apply bg-sky-200;
}

.trial-btn {
  @apply bg-white bg-opacity-80 text-pink-400-accent font-bold py-4 px-6 rounded-full border-2 border-pink-400-accent transition-colors duration-300;
  display: inline-block;
  text-align: center;
  white-space: normal;
}
.trial-btn:hover {
  @apply bg-pink-400-accent text-white;
}

/* フォローボタン */
.btn-follow {
  @apply bg-black text-white font-bold px-4 py-2 rounded-full hover:bg-orange-400;
}

/* フォロー中ボタン */
.btn-following {
  @apply bg-orange-400 text-white font-bold px-4 py-2 rounded-full;
  position: relative;
}

/* フォロー解除テキスト用クラス */
.btn-unfollow-hover::after {
  content: attr(data-unfollow-text);
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f56565; /* text-red-600 */
  background-color: #fed7d7; /* bg-red-100 */
  border-radius: 9999px; /* rounded-full */
  opacity: 0;
  transition: opacity 0.3s;
}

.btn-following:hover::after {
  opacity: 1;
}
